footer
  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: 150px
  display: flex
  justify-content: center
  flex-wrap: wrap
  background-color: black
  color: white
  padding: 15px 20px
  margin-top: 50px
  box-sizing: border-box

  .logo
    flex-grow: 1
    display: flex
    justify-content: center
    margin: 0 10px
    img
      width: 200px
      height: auto

  .footer-info
    flex-grow: 1
    display: flex
    align-items: center
    flex-direction: column
    margin: 0 10px

    .name
      display: flex
      align-items: center
      flex-grow: 1

    .social
      flex-grow: 1
      display: flex
      align-items: center
      a
        svg
          width: 30px
          height: 30px

  .legal
    flex-grow: 1
    display: flex
    justify-content: center
    align-items: center
    margin: 0 10px

    a
      color: white
      text-decoration: none
      padding-left: 4px

      &:hover
        color: #54BA5D
