nav
 display: flex
 align-items: center
 position: fixed
 height: 60px
 top: 0
 left: 0
 right: 0
 background-color: #1C1C1C
 z-index: 99
 box-shadow: 0 2px 5px rgba(43,43,43,.26)

 .logo
   flex: 4
   margin-left: 20px

   img
     width: 170px
     height: auto

 .menu
   list-style-type: none
   display: flex
   margin: 0
   padding: 0
   flex: 2
   li
     flex: 1

     .menu-active
       &::after
         opacity: 1

     a
       text-decoration: none
       padding-top: 20px
       padding-bottom: 20px
       display: flex
       justify-content: center
       width: 100%
       text-align: center
       transition: background-color 0.2s ease-in-out
       color: white
       position: relative
       font-size: 16px

       &:hover
         color: white

       &:after
         content: ""
         height: 4px
         background-color: #54BA5D
         position: absolute
         border-radius: 3px
         bottom: 0
         left: 0
         width: 100%
         transition: opacity 0.15s ease-in-out
         opacity: 0

       &:hover:after
        opacity: 1


       &:visited
         color: white
